<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           https://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Hibernate SessionFactory bean -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop> <!-- Optional: Show SQL in logs -->
                <prop key="hibernate.format_sql">true</prop> <!-- Optional: Format SQL in logs -->
            </props>
        </property>
        <property name="packagesToScan" value="org.info.product.models"/>
    </bean>

    <!-- Enable transaction management -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Transaction manager bean -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Component scanning for controllers and services -->
    <context:component-scan base-package="org.product.restful.api.controller, org.product.info.services"/>

    <!-- Service beans -->
    <bean id="customerService" class="org.product.info.services.CustomerServiceImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="orderService" class="org.product.info.services.OrderServiceImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="productService" class="org.product.info.services.ProductServiceImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="paymentService" class="org.product.info.services.PaymentServiceImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>
